# ----------------------------------------------------------------------
# Dependencies
# ----------------------------------------------------------------------
/node_modules

# ----------------------------------------------------------------------
# Testing
# ----------------------------------------------------------------------
/coverage

# ----------------------------------------------------------------------
# Build Output
# ----------------------------------------------------------------------
/.next/
/out/
/build
/dist
/dist-ssr

# ----------------------------------------------------------------------
# TypeScript
# ----------------------------------------------------------------------
*.tsbuildinfo
# next-env.d.ts

# ----------------------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------------------
.env*
!.env.example

# ----------------------------------------------------------------------
# Debug & Logs
# ----------------------------------------------------------------------
npm-debug.log*

# ----------------------------------------------------------------------
# Vercel
# ----------------------------------------------------------------------
.vercel

# ----------------------------------------------------------------------
# Security & Keys
# ----------------------------------------------------------------------
*.pem

# ----------------------------------------------------------------------
# Biome
# ----------------------------------------------------------------------
.biome/

# ----------------------------------------------------------------------
# Editor / OS / IDE
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo
*~

# ----------------------------------------------------------------------
# VS Code
# ----------------------------------------------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json